*.log
target
out
foundation/src/docbkx/out/
/docbook-customization/target/
/foundation/target/
/design/target/
/implementation/target/
/appendices/target/
/bibliography-db/target/
/terms-glossary/target/
/solor/target/
/isaacs-komet-book/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
