td.cell_green_white {
background-color:green;
color:white;
}

td.cell_red_white {
background-color:red;
color:white;
}

td.cell_orange_black {
background-color:orange;
color:black;
}

td.cell_yellow_black {
background-color:yellow;
color:black;
}
